*{
  margin:0;
  padding: 0%;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;

}
body{
  background: #080808;
  color:#fff;
}
#header{
  width:100%;
  height:100vh;
  background-image:url(images/background2.jpg) ;
  background-size: cover;
  background-position: center;
}
.container{
  padding: 1px 4%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width:30px;
  height:30px;
  margin-left: -14px;
  margin-top: -5px;
  
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 1px 6px;
  
}
nav ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 7px;
  position: relative;
  
}
nav ul li a::after{
  content:'';
  width:0;
  height:1px;
background: #ff004f;
position:absolute;
left:0;
bottom:-4px;
}
nav ul li a:hover:after{
  width:100%;
}
.header-text{
  margin-top: 10%;
  font-size: 12px;
}
.header-text h1{
  font-size:20px;
  margin-top: 10px;
}
.header-text h1 span{
  color:#ff004f;
}
#about{
  padding:40px ;
  color:#ababab;
}
.row{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 30%;;
}
.about-col-1 img{
  width:90%;
  border-radius: 6px;
  margin-left: -30px;
}
.about-col-2{
  flex-basis: 60%;
  font-size: 8px;
  margin-top: -18px;

}
.sub-title{
  font-size: 24px;
  font-weight: 400;
  color:#fff;

}
.tab-titles{
  display: flex;
  margin:  10px 0 10px;
}
.tab-links{
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
  cursor:pointer;
  position:relative;
}
.tab-links::after{
  content:'';
  width:0;
  height:1px;
  background:#ff004f;
  position:absolute;
  left:0;
  bottom:-6px;
  transition:0.3s;
}
.tab-links.active-link::after{
  width:50%;
}
.tab-contents ul li{
  list-style:none;
  margin:10px 0;
}
.tab-contents ul li span{
  color:#b54769;
  font-size: 10px;
}
.tab-contents{
  display:none;
}
.tab-contents.active-tab{
  display: block;
}
/* services*/
.services{
  padding:30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(90px,1fr));
  grid-gap:10px;
  margin-top: 10px;
  font-size:6px ;
}
.services-list div{
  background: #262626;
  padding: 17px;
  font-size: 7px;
  font-weight: 200;
  border-radius: 8px;
  transition: background 0.4s,transform 0.4s;
}
.services-list div i{
  font-size:15px;
  margin-bottom: 17px;
}
.services-list div h2{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.services-list div a{
  text-decoration: none;
  color:#fff;
  font-size: 8px;
  margin-top: 8px;
  display: inline-block;
}
.services-list div:hover{
background:#ff004f;
transform: translateY(-10px);
}
/*---portfolio---*/
#portfolio{
  padding:40px 0 ;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(60px,1fr));
  grid-gap:8px;
  margin-top: 10px;
}
.work{
  border-radius:10px;
  position:relative;
  overflow:hidden;
}
.work img{
  width:100%;
  height: 140px;
  border-radius:7px;
  display:block;
  transition:transform 0.5s;
}
.layer{
  width:100%;
  height:0;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 3px;
  position: absolute;
  
  bottom:0;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:0 30px;
  text-align: center;
  font-size: 7px;
  transition:height 0.5s;
}
.layer h3{
  font-weight: 300;
  margin-bottom: 10px;
}
.layer a{
  margin-top:18px;
  color: #ff004f;
  text-decoration: none;
  font-size: 11px;
  line-height: 25px;
  background: #fff;
  width:23px;
  height:23px;
  border-radius:30px;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height:100%;
}
.btn{
  display: block;
  margin: 24px auto;
  width:fit-content;
  border:1px solid #ff004f;
  padding:5px 10px;
  border-radius: 6px;
  text-decoration: none;
  color:#fff;
  transition:background 0.5s;
}
.btn:hover{
  background:#ff004f;
}
.contact-left{
  flex-basis:40%;
}
.contact-right{
  flex-basis:50%;
}
.contact-left p{
margin-top: 7px;
font-size: 9px;
}
.contact-left p i{
  color:#ff004f;
  margin-right: 10px;
  font-size: 12px;
}
.social-icons{
  margin-top: 10px;
}
.social-icons a{
  text-decoration: none;
  font-size: 17px;
  margin-right: 8px;
  color:#ababab;
  display:inline-block;
  transition: transform 0,5s ;
}
.social-icons a:hover{
color:#ff004f;
transform: translateY(-3px);
}
.btn.btn2{
  display: inline-block;
  background: #ff004f;
  font-size: 7px;
  margin-top: 8px;
}
.contact-right form{
  width:100%;
}
form input,form textarea{
  width:100%;
  border:0;
  outline:none;
  background:#262626;
  padding: 10px;
  margin:4px 0;
  color:#fff;
  font-size:7px;
  border-radius:4px;
}
form .btn2{
  padding:4px ;
  font-size: 13px;
  margin-top:5px;
  cursor:pointer;
}
.copyright{
  width:100%;
  text-align:center;
  padding: 7px 0;
  background: #262626;
  font-weight: 300;
  margin-top:20px;
  font-size: 7px;
}
.copyright i{
  color:#ff004f;
}
